button {
  border: none;
  background: none;
  display: flex;
  gap: 4px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
}

button:hover {
  background-color: lightgray;
}

.primary {
  background-color: #3a21d9;
  padding: 4px 8px;
  color: black;
}

.secondary {
  background-color: #515053;
  padding: 4px 8px;
  color: white;
}
