button {
  border: none;
  background: none;
  display: flex;
  gap: 4px;
  border-radius: 20px
}

button:hover {
    background-color: lightgray;
}

.primary {
  background-color: white;
  padding: 4px 8px;
  color:black;
}

.secondary {
    
  background-color: black;
  padding: 4px 8px;
  color: white;
}