.content {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.backdrop {
  position: absolute;
  inset: 0;
  height: 100%;
  background-size: cover;
  background-position: center top;
  overlay: auto;
  z-index: -1;
}

.backdrop::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    /* topo - quase transparente */ rgba(97, 94, 94, 0.8) 100%
      /* baixo - escuro */
  );
}
.content > *:not(.backdrop) {
  position: relative;
  z-index: 1; /* ← conteúdo por cima */
}
.hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}
.poster {
  & img {
    width: 250px;
    border-radius: 16px;
  }
}
.chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-wrap: wrap;
  padding: 1rem;
}

.botao {
  display: flex;
  padding: 1rem;
}
.casting {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
