.content {
  background-color: aqua;
}

.poster {
  background-color: aquamarine;
}
.chips {
  background-color: blue;
}

.title {
  background-color: yellow;
}

.casting {
  background-color: blueviolet;
}
